/* COLOR PALLETTE AND FONTS REQUIRED FOR MT
  #FED3BE Peach
  #E1BB47 Yellow
  #639A88 Green
  #3A5683 Blue
  #BB8998 GreyPink
  #3A3846 Dark Grey
  #DED9DD White Grey
  font-family: 'Montserrat', sans-serif;
  font-family: 'Quicksand', sans-serif;
 */



body {
  margin: 0;
  padding: 0;
  background-color: #3A3846;
  color: #DED9DD;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}



/* Heading */
h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  margin: 0em;
}

h3 {
  font-family: 'Quicksand', sans-serif;
}

/* Image */
img {
  max-width: 500px;
  padding: 1rem;
  float:left;
}

/* Navigation Bar */

/* Header needs display:initial as parent element for sticky to work */
header {
  display: initial
}

nav {
  background-color: #DED9DD;
  position: sticky;
  top: 0;
  border-radius: 5px;
}


nav ul{
  display: flex;
  padding: 0;
  margin: 0 1vw;
}

nav li{
  list-style-type: none;
  padding: 0.5em;
}

nav li:hover{
  background-color: #3A3846;
}

nav a {
  text-decoration: none;
  color: #3A3846;
  font-size: 1.5em;
}

nav a:hover {
  color:#FED3BE;
}

/* Section */
section {
  font-size: 1.1em;
  margin: 1vw;
}


/* p */
p {
  font-size: 1.2em;
}
p::first-letter {
  font-size: 2em;
}